* {
  font-family: 'Open Sans', Arial, sans-serif;
}
body {
  background-color: #fefbd8;
}

h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

#btn-container {
  text-align: center;
}

#btn-container button {
  display: inline-block;
}

a:link, a:active, a:focus, a:hover {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(138, 147, 138, 0.97);
}


#pdf-btn {
  margin-top: 25px;
}