* {
  font-family: 'Open Sans', Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  float:  left;
  width:  500px;
  height: 500px;
}

#container img {
    display: inline-block;
    margin: 10px;
}
h1 {
    text-align: center;
    color: black;
    background-color: slategray;
    height: 100px;
}
body {
    background-color:silver;
    margin-top: 30px;
}  

#btn-container {
  text-align: center;
}

#btn-container button {
  display: inline-block;
}

#pdf-container a, #pdf-container a:link, #pdf-container a:active, #pdf-container a:focus, #pdf-container a:hover {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(138, 147, 138, 0.97);
}

#img-container, #pdf-container {
  margin-top: 10px;
}


#pdf-btn {
  margin-top: 25px;
}