* {
  font-family: 'Open Sans', Arial, sans-serif;
}

#container img {
    display: inline-block;
    margin: 10px;
}
h1 {
    text-align: center;
    color: black;
    background-color: slategray;
    height: 100px;
}
body {
    background-color:silver;
    margin-top: 30px;
}  

h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

#btn-container {
  text-align: center;
}

#btn-container button {
  display: inline-block;
}

a, a:link, a:active, a:focus, a:hover {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(138, 147, 138, 0.97);
}


#pdf-btn {
  margin-top: 25px;
}